@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Viaoda+Libre&display=swap");

:root {
  --text-padding: 10vw;
  --title-text-size: 30px;
  --title-margin-bottom: 1rem;
  --content-background-color: rgb(26, 26, 26);
  --site-margin: 3rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Viaoda Libre", sans-serif;
  color: white;
  -webkit-user-drag: none;
  user-select: none;
  /* animation: background-color-change 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95)
    forwards; */
}

body {
  background-color: rgb(19, 19, 19);
}

@keyframes background-color-change {
  from {
    background-color: white;
  }

  to {
    background-color: black;
  }
}

a {
  text-decoration: none;
}

.App {
  border: 2px solid yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.main-container {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65vw;
  gap: 3rem;
}

/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 15px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #333333; /* Set the color of the scrollbar thumb */
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #000000; /* Set the color of the scrollbar track */
}

::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons (arrows) */
}

/* Hide the scrollbar arrows */
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button {
  background-color: #333;
  border-radius: 5px;
}

/* Show the up and down arrows with a specific color */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  background-color: white; /* Set the color of the arrows to white */
}
