.header-container {
  /* border: 1px solid blue; */
  width: 100vw;
  position: sticky;
  height: 60px;
  top: 0px;
  z-index: 3;
  display: flex;
  justify-content: end;
  align-items: center;
}

.link-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  height: 25px;
  width: 250px;
  display: flex;
  gap: 15px;
  padding-right: 2rem;
  overflow: hidden;
  margin-top: 3rem;
  margin-right: 3rem;
}

.header-button {
  border: none;
  background-color: rgb(10, 10, 10, 0);
  cursor: pointer;
  font-size: 20px;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.header-button-text {
  transition: transform 0.2s ease-in-out;
}

.header-button:hover {
  transform: translateY(-25px);
}

@media only screen and (max-width: 600px) {
  .header-container {
    width: 100vw;
    position: sticky;
    height: 60px;
    top: 0px;
    z-index: 3;
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .link-container {
    width: 80px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
  }

  .header-button:hover {
    transform: none;
  }

  .header-button-text.second {
    display: none;
  }
}
